* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;

  @include respond(wide-desktop) {
    font-size: 60%;
  }

  @include respond(tab) {
    font-size: 58%;
  }

  @include respond(mobile) {
    font-size: 50%;
  }
}

body {
  font: $primary-heading;
  background: linear-gradient(to bottom right, $primary-color, $alternate-color)
    no-repeat;
  background-size: cover;
  color: $color-white-dark;
}

a {
  text-decoration: none;
  transition: $transition-fastest;
}

ul,
li {
  list-style: none;
}

a,
button,
input {
  &:active,
  &:focus {
    outline: 0;
  }
}

button {
  border: 0;
}

#app {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 8% 1fr 8%;
}
