//* colors
$accent-color: #99ddcc;
$primary-color: #000d6b;
$secondary-color: #9c19e0;
$alternate-color: #ff5da2;

$color-white: #fff;
$color-white-dark: #f2f2f2;
$color-dark: #29262b;

//* fonts
$fontsize-small: 1.5rem;
$fontsize-medium: 1.8rem;
$fontsize-large: 2.2rem;

//* typography
$telma-light: "Telma-Light";
$telma-regular: "Telma-Regular";
$telma-bold: "Telma-Bold";
$ptsans-regular: "PTSans-Regular";
$ptsans-bold: "PTSans-Bold";
$quicksand-light: "Quicksand-Light";
$quicksand-regular: "Quicksand-Regular";

//* boxshadows

//* transtitions
$transition-fast: all 1s ease-in-out;
$transition-faster: all 0.75s ease-in-out;
$transition-fastest: all 0.5s ease-in-out;
