// ? SVG styling
.svg {
  position: absolute;
  z-index: -1;
}

.left-top-svg {
  top: 0;
  left: 0;
}

.left-bottom-svg {
  top: 70%;
  left: 10%;
  animation: hue 10s linear infinite,
    jump 5s ease-in-out 2s infinite backwards alternate;
}

.right-middle-svg {
  right: 10%;
  top: 40%;
  animation: hue 1s linear infinite,
    jump 5s ease-in-out 2s infinite backwards alternate;
}

.container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  @include flexcenter;
}

.body {
  width: 40%;
  text-align: center;
  line-height: 150%;
  margin: 0 auto;

  @include respond(wide-desktop) {
    width: 50%;
  }

  @include respond(tab-land) {
    width: 60%;
  }

  @include respond(tab) {
    width: 65%;
  }

  @include respond(tab-port) {
    width: 70%;
  }

  @include respond(mobile-big) {
    width: 80%;
  }

  @include respond(mobile) {
    width: 90%;
  }

  @include respond(mobile-small) {
    width: 98%;
  }
}
