.u-flex-center, .u-flex-left, .u-flex-right, .footer, .nav-icon, .nav__background, .nav__links, .header {
  display: flex; }

.u-flex-center, .footer, .nav-icon, .nav__background, .nav__links, .header {
  justify-content: center; }

.u-flex-center, .u-flex-left, .u-flex-right, .footer, .nav-icon, .nav__background, .nav__links, .header {
  align-items: center; }

.nav__links {
  flex-direction: column; }

.u-flex-left {
  justify-content: flex-start; }

.u-flex-right {
  justify-content: flex-end; }

/*
  mobile-small = 320px = 20em
  mobile = 480px = 30em
  mobile-big = 600px = 37.5em
  tab-port = 768px = 48em
  tab = 900px = 56.25em
  tab-land = 1024px = 64em
  wide-desktop = 1366px = 85.375em
  full-desktop = 1200px = 75em
  wider-desktop = 1440px = 90em
  desktop = 1920px = 120em
  4k = 2560px = 160rem
*/
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 2.5rem !important; }

.u-margin-top-big {
  margin-top: 4rem !important; }

.u-margin-left-small {
  margin-left: 1.5rem !important; }

.u-margin-left-medium {
  margin-left: 1.5rem !important; }

.u-margin-left-big {
  margin-left: 1.5rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-right-medium {
  margin-right: 1.5rem !important; }

.u-margin-right-big {
  margin-right: 1.5rem !important; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-medium {
  padding-bottom: 2.5rem !important; }

.u-padding-bottom-big {
  padding-bottom: 4rem !important; }

.u-padding-top-small {
  padding-top: 1.5rem !important; }

.u-padding-top-medium {
  padding-top: 2.5rem !important; }

.u-padding-top-big {
  padding-top: 4rem !important; }

.u-padding-left-small {
  padding-left: 1.5rem !important; }

.u-padding-left-medium {
  padding-left: 1.5rem !important; }

.u-padding-left-big {
  padding-left: 1.5rem !important; }

.u-padding-right-small {
  padding-right: 1.5rem !important; }

.u-padding-right-medium {
  padding-right: 1.5rem !important; }

.u-padding-right-big {
  padding-right: 1.5rem !important; }

.u-margin-center {
  margin: 0 auto !important; }

.u-display-none {
  display: none !important; }

.u-position-relative {
  position: relative !important; }

.u-position-fixed {
  position: fixed !important; }

.u-position-absolute {
  position: absolute !important; }

.u-position-sticky {
  position: sticky !important; }

@keyframes hue {
  0% {
    filter: hue-rotate(0deg); }
  50% { }
  100% {
    filter: hue-rotate(-360deg); } }

@keyframes jump {
  0% {
    transform: translate(0); }
  30% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translate(0); } }

@font-face {
  font-family: "Telma-Light";
  src: url("../fonts/telma/Telma-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Telma-Regular";
  src: url("../fonts/telma/Telma-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Telma-Bold";
  src: url("../fonts/telma/Telma-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/pt-sans/PTSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/pt-sans/PTSans-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/quicksand/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.primary-heading {
  font: 500 6rem "Telma-Regular"; }

.secondary-heading {
  font: 400 5rem "PTSans-Regular"; }

.accent-heading {
  font: 300 2.5rem "Quicksand-Light"; }

.special-heading {
  color: #99ddcc; }

.wavy-text {
  text-decoration: underline;
  text-decoration-style: wavy; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }
  @media only screen and (max-width: 85.375em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  font: 300 1.8rem "Quicksand-Light";
  background: linear-gradient(to bottom right, #000d6b, #ff5da2) no-repeat;
  background-size: cover;
  color: #f2f2f2; }

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out; }

ul,
li {
  list-style: none; }

a:active, a:focus,
button:active,
button:focus,
input:active,
input:focus {
  outline: 0; }

button {
  border: 0; }

#app {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 8vh 84vh 8vh; }

.grid {
  display: grid; }

.col-1 {
  grid-template-columns: 1fr; }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.row-1 {
  grid-template-rows: 1fr; }

.row-2 {
  grid-template-rows: repeat(2, 1fr); }

.row-3 {
  grid-template-rows: repeat(3, 1fr); }

.row-4 {
  grid-template-rows: repeat(4, 1fr); }

.footer__link {
  font-family: "PTSans-Regular";
  color: #fff; }

.nav {
  height: 7rem; }
  .nav-icon {
    width: 10rem; }
  .nav__background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f9f9f9;
    width: 30%;
    transform: translateX(50rem);
    opacity: 0;
    transition: all 0.75s ease-in-out;
    animation: none; }
    @media only screen and (max-width: 85.375em) {
      .nav__background {
        width: 25%; } }
    @media only screen and (max-width: 64em) {
      .nav__background {
        width: 40%; } }
    @media only screen and (max-width: 56.25em) {
      .nav__background {
        width: 50%; } }
    @media only screen and (max-width: 48em) {
      .nav__background {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .nav__background {
        width: 70%; } }
    @media only screen and (max-width: 30em) {
      .nav__background {
        width: 80%; } }
    @media only screen and (max-width: 20em) {
      .nav__background {
        width: 85%; } }
    .nav__background--active {
      transform: translate(0);
      opacity: 1; }
  .nav__mobile {
    width: 60%;
    height: 60%;
    cursor: pointer; }
    .nav__mobile--notselected {
      height: 3px;
      position: absolute;
      background-color: #99ddcc;
      z-index: 5; }
      .nav__mobile--notselected-1 {
        width: 5rem; }
      .nav__mobile--notselected-2 {
        width: 3rem;
        transform: translateY(1rem); }
      .nav__mobile--notselected-3 {
        width: 1rem;
        transform: translateY(2rem); }
    .nav__mobile--selected {
      height: 3px;
      position: absolute;
      background-color: #99ddcc;
      margin: 1rem;
      z-index: 5; }
      .nav__mobile--selected-1 {
        width: 3rem;
        transform: rotate(45deg); }
      .nav__mobile--selected-2 {
        width: 3rem;
        transform: rotate(135deg); }
  .nav__link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%; }
    .nav__link--item a {
      font-size: 2.3rem;
      font-family: "PTSans-Regular";
      color: #fff; }
  .nav__links {
    width: 60%;
    height: 40vh;
    margin: 0 auto; }
    .nav__links--item {
      font: 500 4rem "PTSans-Regular";
      background: linear-gradient(55deg, #9c19e0, #ff5da2);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: hue 20s linear infinite; }
      .nav__links--item:not(:last-child) {
        margin: 2rem 0; }

.svg {
  position: absolute;
  z-index: -1; }

.left-top-svg {
  top: 0;
  left: 0; }

.left-bottom-svg {
  top: 70%;
  left: 10%;
  animation: hue 10s linear infinite, jump 5s ease-in-out 2s infinite backwards alternate; }

.right-middle-svg {
  right: 10%;
  top: 40%;
  animation: hue 1s linear infinite, jump 5s ease-in-out 2s infinite backwards alternate; }

.container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden; }

.body {
  width: 40%;
  text-align: center;
  line-height: 150%;
  margin: 0 auto; }
  @media only screen and (max-width: 85.375em) {
    .body {
      width: 50%; } }
  @media only screen and (max-width: 64em) {
    .body {
      width: 60%; } }
  @media only screen and (max-width: 56.25em) {
    .body {
      width: 65%; } }
  @media only screen and (max-width: 48em) {
    .body {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .body {
      width: 80%; } }
  @media only screen and (max-width: 30em) {
    .body {
      width: 90%; } }
  @media only screen and (max-width: 20em) {
    .body {
      width: 98%; } }
