.input {
  padding: 2rem 1rem;
  border: 0;
  border-bottom: 1px solid $color-white;
  font-size: 2.2rem;
  background: transparent;
  color: $color-white;
  width: 70%;
  margin: 0 auto;
  transition: $transition-faster;

  &:focus:invalid {
    border-color: $danger-color;
  }

  &:focus:valid {
    border-color: $success-color;
  }

  &[type="submit"] {
    width: 50%;
  }

  &::placeholder {
    color: $color-white;
  }
}
